body{
    background-color: #E5E5E5;
    max-width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0;
    padding: 0;
}


header{
    max-width: 100%;
    margin: 0 auto;

    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
     

    position: fixed;
    left: 0%;
    right: 0%;
    top: 0px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);  
}

.logo{ 
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 114px;
}

.search{
    display: flex;
    flex-direction: row;

    margin-top: 40;
    margin-right: 114px;

    background: white;

    width: 450px;
    height: 61px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(96, 96, 96, 0.3);
    border-radius: 8px;
}

.search #icon{ 
    width: 20px;
    height: 20px;
    padding: 20.5px 16px 20.5px;
}

input{
    margin: 0;
    border: none;
    width: 398px;
    height: 24px;

    margin-top: 18.5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.img{
    max-width: 149px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 280px;
    margin-bottom: 78px;
    
    display: flex;
    flex-direction: row;
    
}

.principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

div#principal1.principal{
    margin-right: 32px;
}

div#principal2.principal{
    margin-left: 0px;
}

.cardg{
    padding: 24px;

    height: 512px;
    width: 318px;

    background: #FFFFFF;
      
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    box-sizing: border-box;

    grid-row: 1/3;
}

.cardp{
    padding: 24px;

    height: 240px;
    width: 240px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    box-sizing: border-box;
}

/*.cardg#item1{
    grid-column: 1;   
}

.cardp#item2{
    grid-column: 2;
    grid-row: 1/2;
}

.cardp#item3{
    grid-column: 2;
    grid-row: 2/3;
}

.cardg#item4{
    grid-column: 1;
}

.cardp#item5{
    grid-column: 4;
    grid-row: 1/2;

}

.cardp#item6{
    grid-column: 4;
    grid-row: 2/3;

}

*/


h2{
    font-weight: 500px;
    font-size: 32px;
    line-height: 39px;
    color: #292929;
    margin-top: 31px;
    margin-bottom: 8px;
}

.description{
    font-weight: 500px;
    font-size: 16px;
    line-height: 20px;
    color: #606060;
    margin-top: 0;
    margin-bottom: 0;  
}

.price{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    margin-top: 31px;
    margin-bottom: 0;

    padding: 8px;
    gap: 10px;
    width: 105px;
    background: rgba(249, 199, 191, 0.5);
    border-radius: 8px;
}

footer{  
    max-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px 114px;
    flex-wrap: wrap;
    
    position: relative;
    left: 0%;
    right: 0%;
    bottom: 0px;
    height: 155px;
    background: #F2F2F2;
}

.txtfooter{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.social{
    justify-content: left;
    margin: 15px;
}

.logofooter{
    
    height: 60px;
    width: 60px;
    
}

@media (max-width: 1300px){

.logo{
    width: 70px;
    height: 70px;
    margin-top:  40px;
    margin-left: 32px;
}


.logofooter{ 
    display: none; 
}

.search{
    margin-top: 54.71;
    margin-right: 32px;

    width: 40px;
    height: 40px; 
}

.search #icon{    
    width: 13.37px;
    height: 13.37px;
    padding: 13.31px;
}

input{
    display: none;
}

.img{
    max-width: 149px;
}

.container{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 38px;
    justify-content: center;
    
    display: flex;
    flex-direction: column;
}

.principal{
    grid-gap: 18px;
    max-width: 326px;
}

div#principal1.principal{
    margin-bottom: 18px;
    margin-right: 0;
}

div#principal2.principal{
    margin-top: 0;
    margin-left: 0;
}

.cardg{
    
    padding: 13.26px;

    height: 283px;
    width: 175.71px;

    box-shadow: 0px 2.21017px 8.84068px rgba(0, 0, 0, 0.04);
    border-radius: 8.84068px;
}

.cardp{
    padding: 13.26px;

    height: 132.66px;
    width: 132.61px;

    box-shadow: 0px 2.21017px 8.84068px rgba(0, 0, 0, 0.04);
    border-radius: 8.84068px;
}

/*.cardg#item1{
    grid-column: 1;
    grid-row: 1/3;
}

.cardp#item2{
    grid-column: 2;
    grid-row: 1/2;
}

.cardp#item3{
    grid-column: 2;
    grid-row: 2/3;
}

.cardg#item4{
    grid-column: 2;
    grid-row: 3/5;
}

.cardp#item5{
    grid-column: 1;
    grid-row: 3/4;

}

.cardp#item6{
    grid-column: 1;
    grid-row: 4/5;

}
*/

h2{
    font-weight: 500px;
    font-size: 17.6814px;
    line-height: 22px;
    color: #292929;
    margin-top: 17.13px;
    margin-bottom: 4.42px;
}

.description{
    font-weight: 500px;
    font-size: 8.84068px;
    line-height: 11px;
    margin-top: 0;
    margin-bottom: 0;
}

.price{
    font-weight: 400;
    font-size: 13.261px;
    line-height: 16px;

    margin-top: 17.13px;
    margin-bottom: 0;

    padding: 4.42034px;
    gap: 5.53px;
    width: 57.84px;
    border-radius: 4.42034px;
}

.txtfooter{
    text-align: center;
}

.footer{
    padding: 32px 86.5px;
}

header{
    height: 129.42px;
}

}